<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>S'enregister</h1>
      <p class="lead">
        Déjà menbrer? Veuillez vous <a routerLink="/login">connecter</a>.
      </p>
      <form (submit)="register()">
        <div class="form-group">
          <label for="name">Nom :</label>
          <input
            type="text"
            class="form-control"
            name="name"
            placeholder="Entrer votre nom:"
            [(ngModel)]="credentials.name"
          />
        </div>
        <div class="form-group">
          <label for="prenom">Prenom :</label>
          <input
            type="text"
            class="form-control"
            name="prenom"
            placeholder="Entrer votre prenom:"
            [(ngModel)]="credentials.prenom"
          />
        </div>
        <div class="form-group">
          <label for="date_naissance">Date de naissance :</label>
          <input
            type="date"
            class="form-control"
            name="date_naissance"
            placeholder="Entrer votre date de naissance:"
            [(ngModel)]="credentials.date_naissance"
          />
        </div>
        <div class="form-group">
          <label for="email">Email :</label>
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="Entrer votre email"
            [(ngModel)]="credentials.email"
          />
        </div>
        <div class="form-group">
          <label for="password">Mot de pass :</label>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
            [(ngModel)]="credentials.password"
          />
        </div>
        <button type="submit" class="btn btn-default">S'enregister !</button>
      </form>
    </div>
  </div>
</div>
